<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>What's My Rankine?</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- KaTeX math typesetting support -->
    <link href="css/katex.min.css" rel="stylesheet">
    <script src="js/katex.min.jss"></script>

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">What's My Rankine?</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>A Bootstrap Starter Template</h1>
                <p class="lead">Complete with pre-defined file paths that you won't have to change!</p>
                <ul class="list-unstyled">
                    <li>Bootstrap v3.3.6</li>
                    <li>jQuery v1.11.1</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Input cycle params -->
        <div class="row">
            <!-- Rankine Cycle Diagram -->
            <div class="col-md-6">
                <img src="img/rankine_cycle-min.jpg" class="img-responsive">
            </div>
            <!-- Parameter Input Form -->
            <div class="col-md-6">
                <form id="cycle-params" class="form-horizontal">
                  <!-- Working Fluid -->
                  <fieldset disabled>
                      <div class="form-group">
                        <label for="workingFluid" class="col-sm-6 control-label">Working Fluid</label>
                        <div class="col-sm-6">
                             <select class="c-select form-control" id="workingFluid">
                              <option selected value="1">Water</option>
                              <option value="2">Ammonia</option>
                              <option value="3">Propane</option>
                            </select>
                        </div>
                      </div>
                  </fieldset>
                  <!-- High Pressure -->
                  <div class="form-group">
                    <label for="highPressure" class="col-sm-6 control-label">High Pressure</label>
                    <div class="col-sm-6">
                      <input type="number" step="any" min="0" class="form-control" id="highPressure">
                    </div>
                  </div>
                  <!-- Low Pressure -->
                  <div class="form-group">
                    <label for="lowPressure" class="col-sm-6 control-label">Low Pressure</label>
                    <div class="col-sm-6">
                      <input type="number" step="any" min="0" class="form-control" id="lowPressure">
                    </div>
                  </div>
                  <!-- Max Temperature -->
                  <div class="form-group">
                    <label for="maxTemperature" class="col-sm-6 control-label">Max Temperature</label>
                    <div class="col-sm-6">
                      <input type="number" step="any" class="form-control" id="maxTemperature">
                    </div>
                  </div>
                  <!-- Turbine Efficiency -->
                  <div class="form-group">
                    <label for="turbineEfficiency" class="col-sm-6 control-label">Turbine Efficiency</label>
                    <div class="col-sm-6">
                      <input type="number" step="any" min="0" max="100" class="form-control" id="turbineEfficiency">
                    </div>
                  </div>
                  <!-- Pump Efficiency -->
                  <div class="form-group">
                    <label for="pumpEfficiency" class="col-sm-6 control-label">Pump Efficiency</label>
                    <div class="col-sm-6">
                      <input type="number" step="any" min="0" max="100" class="form-control" id="pumpEfficiency">
                    </div>
                  </div>
                  <!-- Mass Flow Rate -->
                  <div class="form-group">
                    <label for="massFlowRate" class="col-sm-6 control-label">Mass Flow Rate</label>
                    <div class="col-sm-6">
                      <input type="number" step="any" min="0" class="form-control" id="massFlowRate">
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                      </div>
                      <div class="col-sm-6">
                          <button type="submit" class="btn btn-primary btn-lg btn-block pull-right">Run Cycle</button>
                      </div>
                  </div>
                </form>
            </div>
        </div>

        <div id="results" class="show">
            <div id="stateTable" class="table-responsive">
                <table class="table table-bordered">
                    <caption>State Table</caption>
                    <thead>
                        <tr>
                        <th>State</th>
                        <th class="col-sm-2">Temperature</th>
                        <th class="col-sm-2">Pressure</th>
                        <th class="col-sm-2">Volume</th>
                        <th class="col-sm-2">Enthalpy</th>
                        <th class="col-sm-2">Entropy</th>
                        <th class="col-sm-2">Flow Exergy</th>
                        <th class="col-sm-1">Quality</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="processTable">
                <table class="table table-responsive table-bordered">
                </table>
            </div>
            <div id="cycleResults">
                <table class="table table-responsive table-bordered">
                </table>
            </div>
        </div>





    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- KaTeX math typesetting support -->
    <script src="js/katex.min.jss"></script>

</body>

</html>
